@model Demo.Models.AromasModelView

@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nuevo Aroma</title>
</head>
<body>

<h4>Aromas</h4>
<hr />
<div class="container-fluid">
    <div>
    <a href="@Url.Action("Aromas","Catalogos")">Regresar</a>
</div>
<div class="row">
    <div class="col-md-4">
            @using (Html.BeginForm("NuevoAroma","Catalogos",FormMethod.Post)){
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.Label("nombre","Nombre",new {@class="control-label"})
                @Html.TextBoxFor(model=> model.nombre,new {@class="form-control"})
                
            </div>
            <div class="form-group">
                @Html.Label("abreviatura","Abrev",new {@class="control-label"})
                @Html.TextBoxFor(model=> model.abreviatura,new {@class="form-control"})
            </div>
            <div class="form-group">
                @*//NUEVO!!!1*@
                @Html.Label("status","Status",new {@class="control-label"})
                @Html.DropDownList("status",Model.StatusList,new {@class="form-control"})
                @*@Html.TextBoxFor(model=> model.status,new {@class="form-control"})*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            }
        <div class="text-danger">
            @if(ViewBag.Errores != null)
                    {
                        @ViewBag.Errores
            }
        </div>
    </div>
</div>
</div>




</body>
</html>
